extends layout

block content
  div.jumbotron.my-3 
    h1.display-4 会話して、学ぼう。💬
    p.lead リアルタイムチャットサービス CoderChat

  div.promotion
    div.top
      h2 🙋‍♀️みんなで会話して勉強しよう！🙋‍♂️
      p 🎉 リアルタイムチャットでわからないことは教えてもらおう！
      hr
    div.create-quiz-thumbnail
      h3 クイズをつくろう🗒
      p みんなで勉強したいクイズを作ろう！
      img(src="http://localhost:8000/images/create-quiz.png" alt="クイズ作成画面" width="500px").thumbnail
      p 誰でも、簡単にクイズを作成できます！
    div.play-quiz-thumbnail
      h3 クイズを解こう🚪
      p みんなでクイズの答えを考えよう！
      img(src="http://localhost:8000/images/play-quiz.png" alt="クイズ画面" width="500px").thumbnail
      p リアルタイムチャットでみんなでクイズの答えを考えて学習することができます！
    div.star-report-thumbnail
      h3 クイズを評価しよう⭐️
      p 気に入ったクイズはお気に入り登録をしよう！また、不適切なクイズは報告できます。
      img(src="http://localhost:8000/images/star-report.png" alt="クイズ画面" width="500px").thumbnail