doctype html
html(lang='ja')
  head
    title CoderChat
    link(rel='stylesheet', href='/stylesheets/style.css')
  body 
    header 
      h2 CoderChat
    block content
    footer 
      p &copy; 2022 kenton116