extends layout

block content
  h1 🥳ログイン
  p ようこそ、CoderChatへ　ログインして始めましょう！
  p GoogleまたはGithubアカウントをご用意ください！
  a(href="/auth/google")#oauth-google.btn.btn-outline-info.my-3 Googleでログイン
  br
  a(href="/auth/github")#oauth-github.btn.btn-outline-info.my-3 Githubでログイン
  p ログインした時点で、当サービスの利用規約に同意したものとします。アカウント認証とサービス利用に必要な情報のみ利用し、個人情報などの取得は行いません。