extends layout

block content 
  h1 プライバシーポリシー
  p CoderChatは取得した個人情報等について、このプライバシーポリシーに基づき取り扱います。

  h2 CoderChatが取得、表示、管理する情報

  h3 Google・GitHub アカウントの情報
  p CoderChatではログイン時のGoogleまたはGitHub認証の際に、ユーザーの持つGoogleまたはGitHubのアカウントへ以下の情報を要求、取得、管理します。  
  p GoogleまたはGitHubのアカウント名を変えた場合、過去の投稿のユーザー名などは更新されませんのでご留意ください。  
  p アカウントの削除機能はありませんので、削除が必要な場合は 
    a(href="https://github.com/kenton116/CoderChat/discussions/13") サービス問い合わせ窓口までご連絡ください。  

  h4 ユーザーID（ユーザー固有の普遍な数字のID）
  p ユーザーデータの固有識別子として、データベースに保存されます。

  h4 ユーザー名（UI上で利用されるユーザーの識別ID）
  p CoderChatのクイズやチャットの投稿者として使用されます。

  h4 アクセスログ
  p その他本サービスへのアクセス時に生成されるログや、プロフィール入力内容のログをサービス管理に必要な期間、保持・管理します。  
  p 必要最低限の期間とは、規約違反や不正利用を発見するためや、CoderChat内で起きた犯罪行為（爆破・殺害予告など）に対する警察からの情報開示請求などに対応するための期間です。

  h2 個人情報や非公開情報の開示について
  p サービスが取得した情報のうちサービス上で公開されていない情報について、次のような場合を除き第三者に開示することはありません。

  ul
    li ユーザー本人の同意がある場合
    li 開示すべき法的義務を負っている場合
    li 不正利用が疑われる場合
    li 弊社または第三者であるユーザーの権利・財産を保護するために必要だと運営が判断した場合