extends layout

block content
  h1 CoderChat
  h2 About
  p 「会話して学ぼう」をモットーにしたプログラミング学習のソーシャルサービスです。

  p このアプリは、N予備校Webアプリケーションコンテスト2021冬で最優秀賞を受賞した作品です

  h2 ライセンス
  a(href="https://github.com/kenton116/CoderChat/blob/main/LICENSE") 本アプリは、MITライセンスの元提供されています。

  h2 利用規約およびプライバシーポリシー
  p 以下をご覧ください。
  a(href="/docs/terms") 利用規約
  a(href="/docs/policies") プライバシーポリシー