body {
  padding: 1%;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

a {
  color: #00B7FF;
}

.nav-header {
  display: flex;
}

nav {
  display: flex;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #eafcff;
}

.nav-header p {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 30px;
}

.nav-body {
  margin: 0 0 0 auto;
}

.nav-body-a,.footer-a {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
}

footer {
  background-color: #eee;
  width: auto;
  padding: 30px;
  display: flex;
}

h1,h2,h3 {
  font-weight: bold;
}

.title {
  font-size: 150%;
  font-weight: bold;
}

.quiz {
  display: flex;
}

.create-quiz,.join-room {
  width: 50%;
}

.create-quiz,.quiz-list,.all-quiz-list,.join-room {
  padding: 10px;
}

.copyright,.title,.footer-a {
  margin-top: auto;
  margin-bottom: auto;
  color: black;
}

.footer {
  margin: auto;
  margin-right: 0;
}

.form {
  display: flex;
}

.quiz-div {
  background-color: #eee;
  padding: 30px;
}

.jumbotron {
  background-color: #bff5ff;
}

#message {
  height: 200px;
  overflow-y:scroll;
  overflow-wrap: break-word;
  background-color: #eafcff;
}

.answer-message {
  display: block;
  background-color: #ffff00;
}

.icon {
  border-radius: 50%;
  border-color: #00B7FF;
  border-width: 1px;
  border-style: solid;
  margin-right: 5px;
}

.promotion {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #eafcff;
}

.top {
  text-align: center;
}

.promotion h2,.promotion h3 {
  font-weight: bold;
}

.create-quiz-thumbnail {
  width: 50%;
  margin-top: 10px;
  margin-left: 0;
  margin-right: auto;
  background-color: #bff5ff;
  padding: 10px;
  border-radius: 25px;
}

.play-quiz-thumbnail {
  width: 50%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 0;
  background-color: #bff5ff;
  padding: 10px;
  border-radius: 25px;
}

.promotion img {
  border-radius: 10px;
}

.chat-btn {
  margin-left: 1%;
}

.answer {
  filter: blur(8px);
}

#answer-button {
  display: none;
}

#answer-button:checked ~ .answer{
  filter: none;
}

.table-warp {
  overflow-x: scroll;
}

th,td {
  white-space: nowrap;
}

input[type="text"] {
  width: 100%;
}

.form-group {
  width: 100%;
}

.star-report {
  display: flex;
}

#star {
  margin-left: 10px;
}

#answer-hidden:checked ~ .answer-message {
  display: hidden;
}

@media screen and (max-width: 750px) {
  .promotion {
    width: 100%;
  }

  .create-quiz-thumbnail,.play-quiz-thumbnail {
    width: 100%;
    margin: auto;
    margin-top: 10px;
  }

  nav {
    display: block;
  }

  footer {
    display: block;
  }

  .quiz {
    display: block;
  }

  .create-quiz,.join-room {
    width: 100%;
  }
}



@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }

  nav,.promotion,.jumbotron,#message,.form-control {
    background-color: #000935;
  }

  footer,.quiz-div {
    background-color: #333;
  }
  
  .create-quiz-thumbnail,.play-quiz-thumbnail {
    background-color: #000;
  }

  .copyright,.title,.footer-a,.form-control {
    color: #fff;
  }

  .card {
    background-color: #333;
  }

  a:hover {
    color: #a7e6ff;
  }

  .answer-message {
    color: #000;
  }
}