body {
  padding: 1%;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

a {
  color: #00B7FF;
}

.nav-header {
  display: flex;
}

nav {
  display: flex;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #eafcff;
}

.nav-header p {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 30px;
}

.nav-body {
  margin: 0 0 0 auto;
}

.nav-body-a,.footer-a {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
}

footer {
  background-color: #eee;
  width: auto;
  padding: 30px;
  display: flex;
}

h1,h2,h3 {
  font-weight: bold;
}

.title {
  font-size: 150%;
  font-weight: bold;
}

.quiz {
  display: flex;
}

.create-quiz,.join-room {
  width: 50%;
}

.create-quiz,.quiz-list,.all-quiz-list,.join-room {
  padding: 10px;
}

.copyright,.title,.footer-a {
  margin-top: auto;
  margin-bottom: auto;
  color: black;
}

.footer {
  margin: auto;
  margin-right: 0;
}

.chat-form {
  display: flex;
}

.quiz-div {
  background-color: #eee;
  padding: 30px;
}

.jumbotron {
  background-color: #bff5ff;
}

#message {
  height: 200px;
  overflow-y:scroll;
  background-color: #eafcff;
}

.answer-message {
  background-color: #fefeef;
}

.icon {
  border-radius: 50%;
  border-color: #00B7FF;
  border-width: 1px;
  border-style: solid;
  margin-right: 5px;
}

.promotion {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #eafcff;
}

.top {
  text-align: center;
}

.promotion h2,.promotion h3 {
  font-weight: bold;
}

.create-quiz-thumbnail,.star-report-thumbnail {
  width: 50%;
  margin-top: 10px;
  margin-left: 0;
  margin-right: auto;
  background-color: #bff5ff;
  padding: 10px;
  border-radius: 25px;
}

.play-quiz-thumbnail {
  width: 50%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 0;
  background-color: #bff5ff;
  padding: 10px;
  border-radius: 25px;
}

.promotion img {
  border-radius: 10px;
}

.chat-btn {
  margin-left: 1%;
}

.message {
  position: relative;
  display: block;
  margin: 1.5em auto;
  padding: 10px 10px;
  width: 300px;
  min-width: 120px;
  max-width: 100%;
  color: var(--font-blue);
  font-size: 16px;
  background: var(--white);
  border: solid 3px var(--font-blue);
  border-radius: 10px;
  box-sizing: border-box;
  opacity: 0;
  animation: fadeIn 1s 0.9s ease forwards;
}

.message:before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 20%;
  margin-left: -16px;
  border: 13px solid transparent;
  border-top: 13px solid var(--white);
  z-index: 2;
}

.message:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 20%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-top: 14px solid var(--font-blue);
  z-index: 1;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }

  nav,.promotion,.jumbotron,#message {
    background-color: #99b5ba;
  }

  footer,.quiz-div {
    background-color: #999;
  }
  
  .answer-message {
    background-color: #fefeef;
  }
  
  .create-quiz-thumbnail,.star-report-thumbnail,.play-quiz-thumbnail {
    background-color: #8bb0b6;
  }

  .copyright,.title,.footer-a {
    color: #fff;
  }

  .card {
    background-color: #999;
  }
}